 <footer>
                <div class="contact">
                    <h2 class="contact__gmail">SIGN UP FOR MONA EMAIL</h2>
                    <p class="contact__text">Be the first to know about the latest products, exclusives and offers from Mona</p>
                    <a href="" class="contact__signup">sign up</a>
                </div>
                <div class="info">
                    <div class="gridhd info__content">
                        <ul class="info__list">
                            <li class="info__item bold">
                                <ul>
                                    <li>FIND A STORE</li>
                                    <li>SIGN UP FOR EMAIL</li>
                                    <li>BECOME A MEMBER</li>
                                    <li>SITE FEEDBACK</li>
                                </ul>
                            </li>
                            <li class="info__item">
                                <ul>
                                    <li class="bold text-white">GET HELP</li>
                                    <li>Order Status</li>
                                    <li>Delivery</li>
                                    <li>Returns</li>
                                    <li>Payment Options</li>
                                    <li>Contact Us</li>
                                </ul>
                            </li>
                            <li class="info__item">
                                <ul>
                                    <li class="bold text-white">ABOUT MONA</li>
                                    <li>News</li>
                                    <li>Careers</li>
                                    <li>Investors</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="social__list">
                            <li class="social__item"><i class="fab fa-facebook"></i></li>
                            <li class="social__item"><i class="fab fa-instagram-square"></i></li>
                            <li class="social__item"><i class="fab fa-twitter"></i></li>
                            <li class="social__item"><i class="fab fa-youtube"></i></li>
                        </ul>
                    </div>
                    <div class="girdhd">
                        <p class="coppyright">© All rights reserved. Thiết kế website <a href="https://www.facebook.com/nhac1998/" target="_blank">PTN</a></p>
                    </div>
                </div>
            </footer>