<header class="header">
                <div class="t">
                    <div class="header-top grid">
                        <a href="" class="header-top__slogan">you nice sologan</a>
                        <a href="/products/create" class="header-top__slogan">Create Product</a>
                        <a href="/me/stored/products" class="header-top__slogan">Quản lý sản phẩm</a>
                        <div class="header-top__item">
                            <a href="" class="header-top__login-status"><i class="fas fa-sign-in-alt"></i> Login</a>
                            <a href="" class="help"><i class="far fa-question-circle"></i> Help</a>
                            <a href="" class="header-top__cart"><i class="fas fa-cart-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="header-body grid">
                    <ul class="navbar__list">
                        <a href="/" class="headernavbar__item">
                            <img src="http://mauweb.monamedia.net/bitis/wp-content/uploads/2018/03/logo-mona.png" alt="" class="navbar__item-logo">
                        </a> 
                        <li class="navbar__item">
                            <ul class="navbar__item-list">
                                <li class="navbar__item-sectors">
                                    <a href="#men">MEN</a>
                                    <div class="sector-detail">
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">shoes (M)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all shoes</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Newest sneakers</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">lifestyle</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">clothing (M)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all Clothing</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">top & T-Shirts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Jerseys & kits</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">Gear (M)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">bags & backpacks</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">shorts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">trousers & tights</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navbar__item-sectors">
                                    <a href="#boys">BOYS</a>
                                    <div class="sector-detail">
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">shoes (B)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all shoes</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Newest sneakers</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">lifestyle</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">clothing (B)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all Clothing</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">top & T-Shirts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Jerseys & kits</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">Gear (B)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">bags & backpacks</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">shorts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">trousers & tights</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navbar__item-sectors">
                                    <a href="">WOMEN</a>
                                    <div class="sector-detail">
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">shoes (B)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all shoes</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Newest sneakers</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">lifestyle</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">clothing (B)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all Clothing</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">top & T-Shirts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Jerseys & kits</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navbar__item-sectors">
                                    <a href="">GIRLS</a>
                                    <div class="sector-detail">
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">shoes (G)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all shoes</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Newest sneakers</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">lifestyle</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">clothing (G)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">all Clothing</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">top & T-Shirts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">Jerseys & kits</a></li>
                                        </ul>
                                        <ul class="sector-detail__list">
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-title">Gear (G)</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">bags & backpacks</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">shorts</a></li>
                                            <li class="sector-detail__item"><a href="" class="sector-detail__item-link">trousers & tights</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navbar__item-sectors">
                                    <a href="">STORE</a>
                                </li>
                                <li class="navbar__item-sectors">
                                    <a href="">CONTACT US</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <div class="search">
                                <input class="search-input" type="text" placeholder="Search">
                                <button class="btn search-input"><i class="fas fa-search"></i></button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>